body {
    background-color: #f3f3f3;
}

.section--checkout .woocommerce {
    max-width: 870px;
    margin: 0 auto;
}

h4 {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.co-nav {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #cfd0d5;
    background-color: #f3f3f3;
    z-index: 100;
}

.co-logo {
    padding: 21px 10px;
}

.co-section {
    padding: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #fff;
}

.co-section-title {
    text-transform: capitalize;
}

.input-text {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 10px 8px;
    font-size: 12px;
    width: 100%;
}

.button {
    border: none;
    border-radius: 3px;
    padding: 11px 8px;
    font-size: 12px;
    width: 100%;
    background-color: #e4e4e4;
    color: #3e3e3e;
    text-transform: uppercase;
}

.button.alt {
    background-color: #222222;
    color: #fff;
}

.button:hover,
.button:active,
.button:focus {
    background-color: #cecece;
    text-decoration: none;
}

.button.alt:hover,
.button.alt:active,
.button.alt:focus {
    background-color: #000;
    text-decoration: none;
}

.input-text[disabled],
.input-text.disabled,
.button[disabled],
.button.disabled {
    opacity: .7;
}

input[type=radio],
input[type=checkbox] {
    vertical-align: middle;
}

.woocommerce-invalid .input-text,
.woocommerce-invalid .select2-container--default .select2-selection--single {
    box-shadow: inset 0 0 0 2px #f0523d;
}

.woocommerce-error {
    background-color: #f0523d;
    color: #fff;
    font-weight: 100;
}

.woocommerce-error strong {
    color: #fff;
}

ul.woocommerce-error, ul.woocommerce-error li {
    list-style: none;
}

abbr {
    border: none !important;
    text-decoration: none;
}

abbr.required {
    color: #f0523d;
}

.woocommerce-checkout-review-order-table tr {
    border: none;
}

.woocommerce-checkout-review-order-table td,
.woocommerce-checkout-review-order-table th {
    padding: 0 0 10px;
    vertical-align: top;
}

.woocommerce-checkout-review-order-table .attachment-shop_thumbnail {
    vertical-align: top;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 45px;
    height: auto;
}

.woocommerce-checkout-review-order-table .product-total .woocommerce-Price-amount {
    color: #000;
}

pre {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

.woocommerce-checkout-review-order-table tfoot {
    font-size: 12px;
}

.woocommerce-checkout-review-order-table tfoot th {
    text-transform: inherit;
    color: inherit;
    text-align: left;
    font-weight: inherit;
}

.woocommerce-checkout-review-order-table tfoot td {
    text-align: right;
}

.woocommerce-checkout-review-order-table tfoot .order-total {
    font-weight: 600;
    text-transform: uppercase;
}

.woocommerce-checkout-review-order-table tfoot .order-total td,
.woocommerce-checkout-review-order-table tfoot .order-total th {
    padding-top: 10px;
}

.woocommerce-checkout-review-order-table tfoot .order-total strong {
    color: inherit;
}

.woocommerce-checkout-review-order ul,
.woocommerce-checkout-review-order ul li {
    list-style: none;
}

.woocommerce-checkout-review-order ul {
    padding-left: 0;
    margin-bottom: 0;
}

.payment_box {
    margin-left: 20px;
}

.payment_box p:last-child {
    margin-bottom: 0;
}

.wc-terms-and-conditions {
    margin: 20px 0 20px 0;
}

#customer_details label {
    text-transform: uppercase;
}

#customer_details p.form-row,
#customer_details p.mc4wp-checkbox {
    margin-bottom: 10px;
}

.select2-container .select2-selection--single {
    height: 42px;
    padding: 10px 0;
}

.select2-container--default .select2-selection--single {
    border-color: #e4e4e4;
    border-radius: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
    line-height: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #8a8a92;
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #222222;
    color: #fff;
}

.shop_table--default td, .shop_table--default th {
    text-align: left;
    vertical-align: middle;
}

.shop_table--default td:last-child,
.shop_table--default th:last-child {
    text-align: right;
}

.about_paypal {
    margin-left: 10px;
}